.franchise-391933, .franchise-406152, .franchise-429752, .franchise-443752, .franchise-448434, .franchise-457432, .franchise-458272, .franchise-458812, .franchise-459432, .franchise-460432, .franchise-460433 { /* Toonami */
    font-family: "Avenir Std", sans-serif;
    background-color: #19130d;
    color: #d89e57;
    border-color: #d89e57;
}

.franchise-415552, .franchise-449334, .franchise-449336 { /* Williams Stream */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #babfbb;
    color: #696d69;
    border-color: #696d69;
}

.franchise-316905 { /* Aqua Teen Hunger Force */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #b82717;
    color: #e0e9c1;
    border-color: #e0e9c1;
}

.franchise-318983 { /* Samurai Jack */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #7a4900;
    color: #ffe694;
    border-color: #ffe694;
}

.franchise-319443 { /* Home Movies */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: white;
    color: #f37e1e;
    border-color: #f37e1e;
}

.franchise-325795 { /* Family Guy */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #00a1d4;
    color: black;
    border-color: black;
}

.franchise-327186 { /* Movies (Cartoon Network) */
    font-family: "Avenir Std", sans-serif;
    background-color: #bfbfbf;
    color: black;
    border-color: black;
}

.franchise-331864 { /* Robot Chicken */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #b30810;
    color: #d9d9da;
    border-color: #d9d9da;
}

.franchise-332142 { /* American Dad */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ef1c23;
    color: white;
    border-color: white;
}

.franchise-341865 { /* Metalocalypse */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: black;
    color: #ad0000;
    border-color: #ad0000;
}

.franchise-347964 { /* Superjail! */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #71324d;
    color: #f8c815;
    border-color: #f8c815;
}

.franchise-352414 { /* Xavier: Renegade Angel */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: linear-gradient(#5073ba, #e17c3b);
    color: white;
    border-color: white;
}

.franchise-366212 { /* Bakugan: Battle Planet */
    font-family: "Avenir Std", sans-serif;
    background-color: #c4c5c7;
    color: #d61920;
    border-color: #d61920;
}

.franchise-374612 { /* Your Pretty Face is Going to Hell */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #8e1511;
    color: #fb7f75;
    border-color: #fb7f75;
}

.franchise-376453 { /* The Amazing World of Gumball */
    font-family: "Avenir Std", sans-serif;
    background-color: #48c1e4;
    color: black;
    border-color: black;
}

.franchise-380952 { /* The Heart, She Holler */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ede248;
    color: black;
    border-color: black;
}

.franchise-386452 { /* The Eric Andre Show */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #e96645;
    color: #fff8e6;
    border-color: #fff8e6;
}

.franchise-393474 { /* Teen Titans Go! */
    font-family: "Avenir Std", sans-serif;
    background-color: #ffff00;
    color: black;
    border-color: black;
}

.franchise-395593 { /* Bob's Burgers */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #f4e023;
    color: #ed202d;
    border-color: #ed202d;
}

.franchise-398292 { /* Mr. Pickles */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #bd3240;
    color: #7bd349;
    border-color: #7bd349;
}

.franchise-399692 { /* Steven Universe */
    font-family: "Avenir Std", sans-serif;
    background-color: #f04937;
    color: #ffdc4f;
    border-color: #ffdc4f;
}

.franchise-401312 { /* Rick and Morty */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: black;
    color: #00b2c8;
    border-color: #00b2c8;
}

.franchise-409613 { /* Black Jesus */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #815667;
    color: #f4c598;
    border-color: #f4c598;
}

.franchise-411252 { /* Mike Tyson Mysteries */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #da4429;
    color: #ffda20;
    border-color: #ffda20;
}

.franchise-419032 { /* We Bare Bears */
    font-family: "Avenir Std", sans-serif;
    background-color: #efeede;
    color: #da5b45;
    border-color: #da5b45;
}

.franchise-438472 { /* Ben 10 (2017) */
    font-family: "Avenir Std", sans-serif;
    background-color: #95c93d;
    color: black;
    border-color: black;
}

.franchise-444772 { /* Apple & Onion */
    font-family: "Avenir Std", sans-serif;
    background-color: #77e592;
    color: #f66e7a;
    border-color: #f66e7a;
}

.franchise-446772 { /* Ballmastrz: 9009 */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ea271c;
    color: #fdfda3;
    border-color: #fdfda3;
}

.franchise-446892 { /* Craig of the Creek */
    font-family: "Avenir Std", sans-serif;
    background-color: #90ad58;
    color: black;
    border-color: black;
}

.franchise-450712 { /* Total Dramarama */
    font-family: "Avenir Std", sans-serif;
    background-color: #4e008f;
    color: #e3c5ff;
    border-color: #e3c5ff;
}

.franchise-450713 { /* Transformers Cyberverse */
    font-family: "Avenir Std", sans-serif;
    background-color: white;
    color: #c8042a;
    border-color: #c8042a;
}

.franchise-453772 { /* Victor and Valentino */
    font-family: "Avenir Std", sans-serif;
    background-color: #ecd378;
    color: #ed1a2f;
    border-color: #ed1a2f;
}