/* Cartoon Network fonts start */
@import url('./avenir.css');
/* Cartoon Network fonts end */

/* Adult Swim fonts start */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://z.cdn.turner.com/adultswim/tools/fonts/helvetica-neue.eot');
    src: url('https://z.cdn.turner.com/adultswim/tools/fonts/helvetica-neue.eot?#iefix') format('embedded-opentype'), url('https://z.cdn.turner.com/adultswim/tools/fonts/helvetica-neue.woff') format('woff'), url('https://z.cdn.turner.com/adultswim/tools/fonts/helvetica-neue.ttf') format('truetype'), url('https://z.cdn.turner.com/adultswim/tools/fonts/helvetica-neue.svg') format('svg');
}
/* Adult Swim fonts end */

/* TOONAMI fonts start */
@font-face {
	font-family: 'BB Strata Pro ML';
	src: url('https://s3.amazonaws.com/toonami-2018-prod/assets/fonts/BBStrataProML-Bold.woff2') format('woff2'),
	url('https://s3.amazonaws.com/toonami-2018-prod/assets/fonts/BBStrataProML-Bold.woff') format('woff');
	font-weight: 600; font-style: normal;
}

@font-face {
	font-family: 'BB Strata Pro ML';
	src: url('https://s3.amazonaws.com/toonami-2018-prod/assets/fonts/BBStrataProML-Regular.woff2') format('woff2'),
	url('https://s3.amazonaws.com/toonami-2018-prod/assets/fonts/BBStrataProML-Regular.woff') format('woff');
	font-weight: normal; font-style: normal;
}
/* TOONAMI fonts end */

/* Special (Cartoon Network) start */
.franchise-324534 {
    font-family: "Avenir Std", sans-serif;
    background-color: #bfbfbf;
    color: black;
    border-color: black;
}

.title-2098468 { /* Teen Titans Go!: Island Adventures */
    font-family: "Avenir Std", sans-serif;
    background-color: #ffff00;
    color: black;
    border-color: black;
}

.title-2149008 { /* Teen Titans Go! Titans vs. Santa */
    font-family: "Avenir Std", sans-serif;
    background-color: #ffff00;
    color: black;
    border-color: black;
}
/* Special (Cartoon Network) end */

/* Movies (Cartoon Network) start */
.franchise-327186 {
    font-family: "Avenir Std", sans-serif;
    background-color: #bfbfbf;
    color: black;
    border-color: black;
}

.title-649826 { /* Teen Titans: Trouble in Tokyo */
    font-family: "Avenir Std", sans-serif;
    background-color: black;
    color: yellow;
    border-color: yellow;
}

.title-2191376 { /* Steven Universe the Movie */
    font-family: "Avenir Std", sans-serif;
    background-color: #f04937;
    color: #ffdc4f;
    border-color: #ffdc4f;
}
/* Movies (Cartoon Network) end */

.franchise-391933, .franchise-406152, .franchise-429752, .franchise-433992,.franchise-443752, .franchise-448434, .franchise-456292, .franchise-457432, .franchise-458272, .franchise-458812, .franchise-459432, .franchise-460432, .franchise-460433, .franchise-461352, .franchise-462132 { /* Toonami */
    font-family: "BB Strata Pro ML", sans-serif;
    background-color: #1b0120;
    color: #17b7dd;
    border-color: #17b7dd;
}

.franchise-415552, .franchise-449334, .franchise-449335, .franchise-449336, .series-2116814 { /* Williams Stream */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #babfbb;
    color: #696d69;
    border-color: #696d69;
}

.franchise-316905, .series-340537 { /* Aqua Teen Hunger Force */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #b82717;
    color: #e0e9c1;
    border-color: #e0e9c1;
}

.franchise-318983, .series-343621 { /* Samurai Jack */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #7a4900;
    color: #ffe694;
    border-color: #ffe694;
}

.franchise-319443, .series-344089 { /* Home Movies */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: white;
    color: #f37e1e;
    border-color: #f37e1e;
}

.franchise-325795, .series-440990 { /* Family Guy */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #00a1d4;
    color: black;
    border-color: black;
}

.franchise-330849, .series-581268 { /* Squidbillies */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #91ac8b;
    color: black;
    border-color: black;
}

.franchise-331864, .series-608360 { /* Robot Chicken */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #b30810;
    color: #d9d9da;
    border-color: #d9d9da;
}

.franchise-332142, .series-581006 { /* American Dad */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ef1c23;
    color: white;
    border-color: white;
}

.franchise-336141, .series-610028 { /* The Boondocks */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #2d2e26;
    color: #dfd965;
    border-color: #dfd965;
}

.franchise-338087, .series-629688 { /* Moral Orel */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #2da4ca;
    color: white;
    border-color: white;
}

.franchise-341865, .series-648666 { /* Metalocalypse */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: black;
    color: #ad0000;
    border-color: #ad0000;
}

.franchise-347964, .series-666506 { /* Superjail! */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #71324d;
    color: #f8c815;
    border-color: #f8c815;
}

.franchise-352414, .series-691917 { /* Xavier: Renegade Angel */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: linear-gradient(#5073ba, #e17c3b);
    color: white;
    border-color: white;
}

.franchise-366212, .series-2170837 { /* Bakugan: Battle Planet */
    font-family: "Avenir Std", sans-serif;
    background-color: #c4c5c7;
    color: #d61920;
    border-color: #d61920;
}

.franchise-374155, .series-830073 { /* Off The Air */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: linear-gradient(
        45deg, 
        #92d050 0, #92d050 25%, yellow 25%, yellow 50%, 
        #92d050 50%, #92d050 75%, yellow 75%, yellow
    ); /* TO-DO: find a better color code */
    background-size: 5px 5px;
    color: black;
    border-color: black;
}

.franchise-374612, .series-828177 { /* Your Pretty Face is Going to Hell */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #8e1511;
    color: #fb7f75;
    border-color: #fb7f75;
}

.franchise-376453, .series-835928 { /* The Amazing World of Gumball */
    font-family: "Avenir Std", sans-serif;
    background-color: #48c1e4;
    color: black;
    border-color: black;
}

.franchise-379912, .series-859366 { /* Black Dynamite */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #271c1c;
    color: #f00184;
    border-color: #f00184;
}

.franchise-380952, .series-867968 { /* The Heart, She Holler */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ede248;
    color: black;
    border-color: black;
}

.franchise-386452, .series-895948 { /* The Eric Andre Show */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #e96645;
    color: #fff8e6;
    border-color: #fff8e6;
}

.franchise-393474, .series-2000349 { /* Teen Titans Go! */
    font-family: "Avenir Std", sans-serif;
    background-color: #ffff00;
    color: black;
    border-color: black;
}

.franchise-395593, .series-2003422 { /* Bob's Burgers */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #f4e023;
    color: #ed202d;
    border-color: #ed202d;
}

.franchise-398292, .series-2007539, .franchise-457612, .series-2196566 { /* Mr. Pickles / Momma Named Me Sheriff */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #bd3240;
    color: #7bd349;
    border-color: #7bd349;
}

.franchise-399692, .series-2011404, .franchise-461193, .series-2208494 { /* Steven Universe / Steven Universe Future */
    font-family: "Avenir Std", sans-serif;
    background-color: #f04937;
    color: #ffdc4f;
    border-color: #ffdc4f;
}

.franchise-401312, .series-2013506 { /* Rick and Morty */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: black;
    color: #00b2c8;
    border-color: #00b2c8;
}

.franchise-401352, .series-2007823 { /* Infomercials */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #bfbfbf;
    color: black;
    border-color: black;
}

.franchise-409613, .series-2022095 { /* Black Jesus */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #815667;
    color: #f4c598;
    border-color: #f4c598;
}

.franchise-411252, .series-2032238 { /* Mike Tyson Mysteries */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #da4429;
    color: #ffda20;
    border-color: #ffda20;
}

.franchise-419032, .series-2056641 { /* We Bare Bears */
    font-family: "Avenir Std", sans-serif;
    background-color: #efeede;
    color: #da5b45;
    border-color: #da5b45;
}

.franchise-431912, .series-2094567 { /* Dream Corp LLC */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #c9e0d8;
    color: #0f7e7f;
    border-color: #0f7e7f;
}

.franchise-433512, .series-2106835, .franchise-448014, .series-2161118 { /* Joe Pera Helps You Find The Perfect Christmas Tree / Joe Pera Talks With You */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ece3df;
    color: #2d3860;
    border-color: #2d3860;
}

.franchise-433552, .series-2106046 { /* SuperMansion */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #d1c0c9;
    color: #267ec9;
    border-color: #267ec9;
}

.franchise-434392, .series-2098728 { /* Dragon Ball Super */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: radial-gradient(#fed75e, #ffc103); /* TO-DO: find a better color code */
    color: #f4182b;
    border-color: #f4182b;
}

.franchise-436752, .series-2164900 { /* Infinity Train */
    font-family: "Avenir Std", sans-serif;
    background-color: black;
    color: #8edd93;
    border-color: #8edd93;
}

.franchise-438472, .series-2085313 { /* Ben 10 (2017) */
    font-family: "Avenir Std", sans-serif;
    background-color: #95c93d;
    color: black;
    border-color: black;
}

.franchise-442472, .series-2130773 { /* Unikitty */
    font-family: "Avenir Std", sans-serif;
    background-color: #dc1e9a;
    color: white;
    border-color: white;
}

.franchise-444772, .series-2133648 { /* Apple & Onion */
    font-family: "Avenir Std", sans-serif;
    background-color: #77e592;
    color: #f66e7a;
    border-color: #f66e7a;
}

.franchise-446772, .series-2137894 { /* Ballmastrz: 9009 */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ea271c;
    color: #fdfda3;
    border-color: #fdfda3;
}

.franchise-449272, .series-2031611 { /* Dragon Ball Z Kai */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: linear-gradient(#1ab9db, #fef302, #1ab9db);
    color: #f4182b;
    border-color: #f4182b;
}

.franchise-446892, .series-2132940 { /* Craig of the Creek */
    font-family: "Avenir Std", sans-serif;
    background-color: #90ad58;
    color: black;
    border-color: black;
}

.franchise-450712, .series-2141710 { /* Total Dramarama */
    font-family: "Avenir Std", sans-serif;
    background-color: #4e008f;
    color: #e3c5ff;
    border-color: #e3c5ff;
}

.franchise-450713, .series-2167202 { /* Transformers Cyberverse */
    font-family: "Avenir Std", sans-serif;
    background-color: white;
    color: #c8042a;
    border-color: #c8042a;
}

.franchise-453772, .series-2160701 { /* Victor and Valentino */
    font-family: "Avenir Std", sans-serif;
    background-color: #ecd378;
    color: #ed1a2f;
    border-color: #ed1a2f;
}

.franchise-454433, .series-2177542 { /* DC Super Hero Girls */
    font-family: "Avenir Std", sans-serif;
    background-color: #2cc4f4;
    color: #eb1b23;
    border-color: #eb1b23;
}

.franchise-455652, .series-2141109 { /* Care Bears: Unlock the Magic */
    font-family: "Avenir Std", sans-serif;
    background-color: #4a2b70;
    color: #f07aaf;
    border-color: #f07aaf;
}

.franchise-457052, .series-2194742 { /* Ninjago */
    font-family: "Avenir Std", sans-serif;
    background-color: #375623;
    color: white;
    border-color: white;
}

.franchise-457313, .series-2181893 { /* Mao Mao, Heroes of Pure Heart */
    font-family: "Avenir Std", sans-serif;
    background-color: #cd0000;
    color: #2dfd2d;
    border-color: #2dfd2d;
}

.franchise-459392, .series-2129657 { /* Power Players */
    font-family: "Avenir Std", sans-serif;
    background-color: #ff3300;
    color: #ffff98;
    border-color: #ffff98;
}
