@import url('./avenir.css'); /* Cartoon Network fonts */

/* Cartonnito fonts start */
@font-face {
    font-family: linotteregular;
    font-style: normal;
    font-weight: 400;
    src: url(https://d2lv662meabn0u.cloudfront.net/cartoonito/static/base/site/fonts/critical/linotte/linotte-regular-webfont.woff2) format("woff2"),url(https://d2lv662meabn0u.cloudfront.net/cartoonito/static/base/site/fonts/critical/linotte/linotte-regular-webfont.woff) format("woff")
}
/* Cartonnito fonts end */

/* Adult Swim fonts start */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://z.cdn.turner.com/adultswim/tools/fonts/helvetica-neue.eot');
    src: url('https://z.cdn.turner.com/adultswim/tools/fonts/helvetica-neue.eot?#iefix') format('embedded-opentype'), url('https://z.cdn.turner.com/adultswim/tools/fonts/helvetica-neue.woff') format('woff'), url('https://z.cdn.turner.com/adultswim/tools/fonts/helvetica-neue.ttf') format('truetype'), url('https://z.cdn.turner.com/adultswim/tools/fonts/helvetica-neue.svg') format('svg');
}
/* Adult Swim fonts end */

/* Default fallback font */
.ctn-show {font-family: "Avenir Std", sans-serif;}
.asm-show {font-family: "Helvetica Neue", Helvetica, sans-serif;}

/* Specials start */
.franchise-324534 {
    font-family: "Avenir Std", sans-serif;
    background-color: #bfbfbf;
    color: black;
    border-color: black;
}

.franchise-475272, .series-2262178 { /* Wipeout */
    /* FIXME: Part of CN's ACME Night? https://twitter.com/CNschedules/status/1495486248495972353 */
    font-family: "Avenir Std", sans-serif;
    background-color: #bfbfbf;
    color: black;
    border-color: black;
}

.title-627871 { /* Tom Goes to the Mayor: Special */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #887c0a;
    color: #e8de68;
    border-color: #e8de68;
}

.title-2055681, /* The Pound Hole */
.title-2162188, /* Bushworld Adventures */
.title-2203554, /* Jamir at Home */
.title-2211291, /* Whenever */
.title-2211293, /* Star Boat */
.title-2224722, /* Smiling Friends: Desmond's Big Day Out */
.title-2226752, /* Space Man */
.title-2227425, /* Spooky Dreams */
.title-2413217 { /* Adult Swim Yule Log */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #bfbfbf;
    color: black;
    border-color: black;
}

.title-2226490 { /* Sesame Street: Elmo's Playdate */
    font-family: "Avenir Std", sans-serif;
    background-color: #bfbfbf;
    color: black;
    border-color: black;
}
/* Specials end */

/* Movies (Cartoon Network) start */
.franchise-327186, .franchise-359849, .franchise-469533, .franchise-474692 {
    font-family: "Avenir Std", sans-serif;
    background-color: #bfbfbf;
    color: black;
    border-color: black;
}
/* Movies (Cartoon Network) end */

/* Toonami */
.franchise-319442, .series-344090, /* Cowboy Bebop */
.franchise-331646, .series-608007, /* One Piece */
.franchise-333045, .series-612379, /* Paranoia Agent */
.franchise-406152, .series-2020945, /* Attack on Titan */
.franchise-429752, .series-2091991, /* One-Punch Man */
.franchise-433992, .series-2108819, /* Scavengers */
.franchise-443752, .series-2143080, /* Black Clover */
.franchise-452152, .series-2179116, /* Mob Psycho 100 */
.franchise-456292, .series-2194658, /* The Promised Neverland */
.franchise-457432, .series-2193927, /* Lupin the 3rd Part 5 */
.franchise-458272, .series-2201017, /* Food Wars! */
.franchise-458812, .series-2203556, /* Fire Force */
.franchise-459432, .series-2207385, /* Dr. Stone */
.franchise-460432, .series-2209292, /* Demon Slayer: Kimetsu no Yaiba */
.franchise-460433, .series-2193955, /* JoJo's Bizarre Adventure: Golden Wind */
.franchise-461352, .series-2193952, /* Lupin the 3rd: Is Lupin Still Burning? */
.franchise-462132, .series-2215991, /* Sword Art Online: Alicization War of Underworld */
.franchise-467352, .series-2238413, /* Assassination Classroom */
.franchise-469352, .series-2236251, /* SSSS.Gridman */
.franchise-472592, .series-2268280, /* Yashahime: Princess Half-Demon */
.franchise-473592, .series-2218281, /* Fena: Pirate Princess */
.franchise-475752, .series-2191456, /* Blade Runner: Black Lotus */
.franchise-476592, /* The Animatrix */
.franchise-477152, .series-2356951, /* Made in Abyss */
.franchise-477232, .series-2357025, /* Shenmue: The Animation */
.franchise-479112, .series-2387380, /* Lupin the 3rd Part 6 */
.franchise-482252, .series-2398940 { /* Housing Complex C */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: radial-gradient(#851ddb 20%, transparent 20%),
        radial-gradient(#851ddb 20%, transparent 20%);
    background-color: black;
    background-position: 0 0, 5px 5px;
    background-size: 10px 10px;
    color: #c8dcb2;
    border-color: #c8dcb2;
}

.series-2116814 { /* Williams Stream */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #babfbb;
    color: #696d69;
    border-color: #696d69;
}

.franchise-304026, .series-100106 { /* Dexter's Laboratory */
    font-family: "Avenir Std", sans-serif;
    background-color: #f47221;
    color: white;
    border-color: white;
}

.franchise-304555, .series-322328 { /* Space Ghost Coast to Coast */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #fedb74;
    color: black;
    border-color: black;
}

.franchise-308620, .series-327280 { /* Ed, Edd n Eddy */
    font-family: "Avenir Std", sans-serif;
    background-color: #513e76;
    color: #efd633;
    border-color: #efd633;
}

.franchise-310692, .series-330149 { /* Courage the Cowardly Dog */
    font-family: "Avenir Std", sans-serif;
    background-color: #deb2cb;
    color: black;
    border-color: black;
}

.franchise-312481, .series-340531 { /* The Brak Show */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #b9e1f7;
    color: #c3135a;
    border-color: #c3135a;
}

.franchise-316905, .series-340537, /* Aqua Teen Hunger Force */
.franchise-377032, .series-847246, /* Aqua Unit Patrol Squad */
.franchise-387072, .series-896639, /* Aqua Something You Know Whatever */
.franchise-397292, .series-2005986, /* Aqua TV Show Show */
.franchise-418932, .series-2059880 { /* Aqua Teen Hunger Force Forever */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #b82717;
    color: #e0e9c1;
    border-color: #e0e9c1;
}

.franchise-316907, .series-340539 { /* Harvey Birdman: Attorney at Law */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #58275e;
    color: #fed558;
    border-color: #fed558;
}

.franchise-318983, .series-343621 { /* Samurai Jack */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #7a4900;
    color: #ffe694;
    border-color: #ffe694;
}

.franchise-319443, .series-344089 { /* Home Movies */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: white;
    color: #f37e1e;
    border-color: #f37e1e;
}

.franchise-324078, .series-433570 { /* Baby Looney Tunes */
    font-family: linotteregular, sans-serif;
    background-color: #c9090c;
    color: #ece612;
    border-color: #ece612;
}

.franchise-324754, .series-339245 { /* Codename: Kids Next Door */
    font-family: "Avenir Std", sans-serif;
    background-color: black;
    color: #e5c213;
    border-color: #e5c213;
}

.franchise-324815, .series-437532 { /* Futurama */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #8ddac6;
    color: #e33f46;
    border-color: #e33f46;
}

.franchise-325518, .series-439722 { /* The Venture Bros. */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #89201b;
    color: white;
    border-color: white;
}

.franchise-325795, .series-440990 { /* Family Guy */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #00a1d4;
    color: black;
    border-color: black;
}

.franchise-326561, .series-444972, /* Teen Titans */
.title-649826 { /* Teen Titans: Trouble in Tokyo */
    font-family: "Avenir Std", sans-serif;
    background-color: black;
    color: yellow;
    border-color: yellow;
}

.franchise-330849, .series-581268 { /* Squidbillies */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #91ac8b;
    color: black;
    border-color: black;
}

.franchise-331864, .series-608360, /* Robot Chicken */
.title-2137405 { /* The Robot Chicken Walking Dead Special: Look Who's Walking */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #b30810;
    color: #d9d9da;
    border-color: #d9d9da;
}

.franchise-332142, .series-581006 { /* American Dad */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ef1c23;
    color: white;
    border-color: white;
}

.franchise-332263, .series-609707 { /* Lucy, The Daughter of the Devil */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #2c2d2b;
    color: #e0362d;
    border-color: #e0362d;
}

.franchise-336141, .series-610028 { /* The Boondocks */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #2d2e26;
    color: #dfd965;
    border-color: #dfd965;
}

.franchise-338087, .series-629688 { /* Moral Orel */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #2da4ca;
    color: white;
    border-color: white;
}

.franchise-338119, .series-629690, /* Ben 10 */
.franchise-355589, .series-709104 { /* Ben 10: Alien Force */
    font-family: "Avenir Std", sans-serif;
    background-color: #11181f;
    color: #94c83c;
    border-color: #94c83c;
}

.franchise-341865, .series-648666 { /* Metalocalypse */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: black;
    color: #ad0000;
    border-color: #ad0000;
}

.franchise-344104, .series-638050 { /* Frisky Dingo */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #932929;
    color: #e78950;
    border-color: #e78950;
}

.franchise-346726, .series-661208, /* Tim and Eric Awesome Show, Great Job! */
.franchise-441292, .series-2132017 { /* Tim and Eric Awesome Show, Great Job! Awesome 10 Year Anniversary Version, Great Job? */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #2060e6;
    color: #f6e240;
    border-color: #f6e240;
}

.franchise-347964, .series-666506 { /* Superjail! */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #71324d;
    color: #f8c815;
    border-color: #f8c815;
}

.franchise-352414, .series-691917 { /* Xavier: Renegade Angel */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: linear-gradient(#5073ba, #e17c3b);
    color: white;
    border-color: white;
}

.franchise-359714, .series-629835 { /* King of the Hill */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #b70d1d;
    color: #f5e503;
    border-color: #f5e503;
}

.franchise-359954, .series-2062459 { /* New Looney Tunes */
    font-family: "Avenir Std", sans-serif;
    background-color: #f26822;
    color: #fdec97;
    border-color: #fdec97;
}

.franchise-366212, .series-2170837 { /* Bakugan: Battle Planet */
    font-family: "Avenir Std", sans-serif;
    background-color: #c4c5c7;
    color: #d61920;
    border-color: #d61920;
}

.franchise-368594, .series-757073 { /* Adventure Time */
    font-family: "Avenir Std", sans-serif;
    background-color: #a61d26;
    color: white;
    border-color: white;
}

.franchise-369632, .series-798427 { /* Check It Out! with Dr. Steve Brule */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #1a62a7;
    color: #4eff92;
    border-color: #4eff92;
}

.franchise-370612, .series-791488 { /* Mary Shelley's Frankenhole */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #252527;
    color: #d3edcd;
    border-color: #d3edcd;
}

.franchise-371676, .series-810150 { /* Regular Show */
    font-family: "Avenir Std", sans-serif;
    background-color: #582853;
    color: white;
    border-color: white;
}

.franchise-374155, .series-830073 { /* Off The Air */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: linear-gradient(
        45deg, 
        #92d050 0, #92d050 25%, yellow 25%, yellow 50%, 
        #92d050 50%, #92d050 75%, yellow 75%, yellow
    ); /* TO-DO: find a better color code */
    background-size: 5px 5px;
    color: black;
    border-color: black;
}

.franchise-374612, .series-828177 { /* Your Pretty Face is Going to Hell */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #8e1511;
    color: #fb7f75;
    border-color: #fb7f75;
}

.franchise-376453, .series-835928, /* The Amazing World of Gumball */
.title-2159879 { /* The Amazing Dates of Gumball & Penny */
    font-family: "Avenir Std", sans-serif;
    background-color: #48c1e4;
    color: black;
    border-color: black;
}

.franchise-379912, .series-859366 { /* Black Dynamite */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #271c1c;
    color: #f00184;
    border-color: #f00184;
}

.franchise-380074, .series-862772 { /* China, IL */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ff983d;
    color: black;
    border-color: black;
}

.franchise-380952, .series-867968 { /* The Heart, She Holler */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ede248;
    color: black;
    border-color: black;
}

.franchise-385014, .series-887688 { /* Loiter Squad */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #f15424;
    color: #ecd276;
    border-color: #ecd276;
}

.franchise-386452, .series-895948 { /* The Eric Andre Show */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #e96645;
    color: #fff8e6;
    border-color: #fff8e6;
}

.franchise-391933, .series-812206 { /* Naruto: Shippuden */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: linear-gradient(90deg, #ffc000, #d86a36);
    color: #1e4e6d;
    border-color: #1e4e6d;
}

.franchise-393474, .series-2000349, /* Teen Titans Go! */
.title-2098468, /* Teen Titans Go!: Island Adventures */
.title-2149008, /* Teen Titans Go! Titans vs. Santa */
.title-2159877, /* Teen Titans Go! in Love: Beast Boy & Raven */
.title-2160800, /* Teen Titans Go! To the Movies */
.title-2214278 { /* Teen Titans Go! vs. Teen Titans */
    font-family: "Avenir Std", sans-serif;
    background-color: yellow;
    color: black;
    border-color: black;
}

.franchise-395593, .series-2003422 { /* Bob's Burgers */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #f4e023;
    color: #ed202d;
    border-color: #ed202d;
}

.franchise-397852, .series-2007332 { /* Uncle Grandpa */
    font-family: "Avenir Std", sans-serif;
    background-color: #f68b1f;
    color: black;
    border-color: black;
}

.franchise-398292, .series-2007539, /* Mr. Pickles */
.franchise-457612, .series-2196566 { /* Momma Named Me Sheriff */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #bd3240;
    color: #7bd349;
    border-color: #7bd349;
}

.franchise-398352, .series-2012265 { /* Hot Package */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #a90f76;
    color: #f4de2c;
    border-color: #f4de2c;
}

.franchise-399692, .series-2011404, /* Steven Universe */
.franchise-461193, .series-2208494, /* Steven Universe Future */
.title-2191376, /* Steven Universe the Movie */
.title-2219737 { /* Steven Universe The Movie Sing-A-Long */
    font-family: "Avenir Std", sans-serif;
    background-color: #f04937;
    color: #ffdc4f;
    border-color: #ffdc4f;
}

.franchise-400612, .series-2013221 { /* Tim & Eric's Bedtime Stories */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #613931;
    color: white;
    border-color: white;
}

.franchise-401312, .series-2013506, /* Rick and Morty */
.franchise-471412, .series-2215150 { /* Rick and Morty: Extras */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: black;
    color: #00b2c8;
    border-color: #00b2c8;
}

.franchise-401352, .series-2007823 { /* Infomercials */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #bfbfbf;
    color: black;
    border-color: black;
}

.franchise-403152, .series-2012957 { /* Clarence */
    font-family: "Avenir Std", sans-serif;
    background-color: #6bcb42;
    color: #6340a1;
    border-color: #6340a1;
}

.franchise-409613, .series-2022095 { /* Black Jesus */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #815667;
    color: #f4c598;
    border-color: #f4c598;
}

.franchise-411172, .series-2017785 { /* Over the Garden Wall */
    font-family: "Avenir Std", sans-serif;
    background-color: #1a1207;
    color: #edd4ac;
    border-color: #edd4ac;
}

.franchise-411252, .series-2032238 { /* Mike Tyson Mysteries */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #da4429;
    color: #ffda20;
    border-color: #ffda20;
}

.franchise-419032, .series-2056641, /* We Bare Bears */
.title-2208493 { /* We Bare Bears The Movie */
    font-family: "Avenir Std", sans-serif;
    background-color: #efeede;
    color: #da5b45;
    border-color: #da5b45;
}

.franchise-429712, .series-2085181 { /* Brad Neely's Harg Nallin' Sclopio Peepio */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #fe00fa;
    color: #feb835;
    border-color: #feb835;
}

.franchise-431912, .series-2094567 { /* Dream Corp LLC */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #c9e0d8;
    color: #0f7e7f;
    border-color: #0f7e7f;
}

.franchise-432513, .series-2104364 { /* Hot Streets */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #d25a3b;
    color: #4fd8dc;
    border-color: #4fd8dc;
}

.franchise-432514, .series-2104362 { /* Apollo Gauntlet */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #881c35;
    color: #a39d48;
    border-color: #a39d48;
}

.franchise-433512, .series-2106835, /* Joe Pera Helps You Find The Perfect Christmas Tree */
.franchise-448014, .series-2161118 /* Joe Pera Talks With You */
.franchise-465274, .series-2228512 { /* Relaxing Old Footage With Joe Pera */ 
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ece3df;
    color: #2d3860;
    border-color: #2d3860;
}

.franchise-433552, .series-2106046 { /* SuperMansion */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #d1c0c9;
    color: #267ec9;
    border-color: #267ec9;
}

.franchise-434392, .series-2098728 { /* Dragon Ball Super */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: radial-gradient(#fed75e, #ffc103); /* TO-DO: find a better color code */
    color: #f4182b;
    border-color: #f4182b;
}

.franchise-436752, .series-2164900 { /* Infinity Train */
    font-family: "Avenir Std", sans-serif;
    background-color: black;
    color: #8edd93;
    border-color: #8edd93;
}

.franchise-438472, .series-2085313 { /* Ben 10 (2017) */
    font-family: "Avenir Std", sans-serif;
    background-color: #95c93d;
    color: black;
    border-color: black;
}

.franchise-439093, .series-2120282 { /* Decker: Mindwipe */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: linear-gradient(90deg, #fe0001, #036fbe);
    color: white;
    border-color: white;
}

.franchise-442432, .series-2132025 { /* The Jellies */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #75e5fa;
    color: black;
    border-color: black;
}

.franchise-442472, .series-2130773 { /* Unikitty */
    font-family: "Avenir Std", sans-serif;
    background-color: #dc1e9a;
    color: white;
    border-color: white;
}

.franchise-443692, .series-2144136 { /* Tender Touches */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #cdcdff;
    color: blue;
    border-color: blue;
}

.franchise-444772, .series-2133648 { /* Apple & Onion */
    font-family: "Avenir Std", sans-serif;
    background-color: #77e592;
    color: #f66e7a;
    border-color: #f66e7a;
}

.franchise-444812, .series-2133085 { /* Final Space */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #6e5aa5;
    color: white;
    border-color: white;
}

.franchise-446772, .series-2137894 { /* Ballmastrz: 9009 */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ea271c;
    color: #fdfda3;
    border-color: #fdfda3;
}

.franchise-446892, .series-2132940 { /* Craig of the Creek */
    font-family: "Avenir Std", sans-serif;
    background-color: #90ad58;
    color: black;
    border-color: black;
}

.franchise-448012, .series-2162827 { /* Tigtone */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #37241a;
    color: #bebebe;
    border-color: #bebebe;
}

.franchise-448434, .series-2142267 { /* My Hero Academia */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: linear-gradient(#7d0c0f, #eb2128, #7d0c0f);
    color: #eddd00;
    border-color: #eddd00;
}

.franchise-448512, .series-2165429 { /* The Shivering Truth */ 
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: black;
    color: white;
    border-color: white;
}

.franchise-448733, .series-2159875 { /* Mostly 4 Millennials */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #7ddde7;
    color: #e92983;
    border-color: #e92983;
}

.franchise-449272, .series-2031611 { /* Dragon Ball Z Kai */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: linear-gradient(#1ab9db, #fef302, #1ab9db);
    color: #f4182b;
    border-color: #f4182b;
}

.franchise-449992, .series-2140484 { /* Tropical Cop Tales */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: linear-gradient(90deg, #fe4402, #9966ff, #fe4402);
    color: white;
    border-color: white;
}

.franchise-450712, .series-2141710 { /* Total Dramarama */
    font-family: "Avenir Std", sans-serif;
    background-color: #4e008f;
    color: #e3c5ff;
    border-color: #e3c5ff;
}

.franchise-450713, .series-2167202 { /* Transformers Cyberverse */
    font-family: "Avenir Std", sans-serif;
    background-color: white;
    color: #c8042a;
    border-color: #c8042a;
}

.franchise-453772, .series-2160701 { /* Victor and Valentino */
    font-family: "Avenir Std", sans-serif;
    background-color: #ecd378;
    color: #ed1a2f;
    border-color: #ed1a2f;
}

.franchise-454433, .series-2177542, /* DC Super Hero Girls */
.title-2288528 { /* Teen Titans Go! & DC Super Hero Girls: Mayhem in the Multiverse */
    font-family: "Avenir Std", sans-serif;
    background-color: #2cc4f4;
    color: #eb1b23;
    border-color: #eb1b23;
}

.franchise-455552, .series-2178188 { /* Lazor Wulf */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #fad1e3;
    color: black;
    border-color: black;
}

.franchise-455652, .series-2141109 { /* Care Bears: Unlock the Magic */
    font-family: linotteregular, sans-serif;
    background-color: #4a2b70;
    color: #f07aaf;
    border-color: #f07aaf;
}

.franchise-456072, .series-2194549 { /* Gemusetto Machu Picchu */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-image: linear-gradient(#f27f15, #ff4400, #f27f15);
    color: white;
    border-color: white;
}

.franchise-457052, .series-2194742 { /* Ninjago */
    font-family: "Avenir Std", sans-serif;
    background-color: #375623;
    color: white;
    border-color: white;
}

.franchise-457313, .series-2181893 { /* Mao Mao, Heroes of Pure Heart */
    font-family: "Avenir Std", sans-serif;
    background-color: #cd0000;
    color: #2dfd2d;
    border-color: #2dfd2d;
}

.franchise-457692, .series-2168685 { /* Scooby-Doo and Guess Who? */
    font-family: "Avenir Std", sans-serif;
    background-color: #f4af54;
    color: #6f2d86;
    border-color: #6f2d86;
}

.franchise-459392, .series-2129657 { /* Power Players */
    font-family: "Avenir Std", sans-serif;
    background-color: #ff3300;
    color: #ffff98;
    border-color: #ffff98;
}

.franchise-459852, .series-2211157 { /* Genndy Tartakovksy's Primal */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #641300;
    color: white;
    border-color: white;
}

.franchise-462593, .series-2188073 { /* ThunderCats Roar! */
    font-family: "Avenir Std", sans-serif;
    background-color: #921029;
    color: #92c0d9;
    border-color: #92c0d9;
}

.franchise-463452, .series-2211644 { /* Three Busy Debras */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ffe3f5;
    color: #cc3595;
    border-color: #cc3595;
}

.franchise-463453, .series-618253 { /* 12 oz. Mouse */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #6665dc;
    color: white;
    border-color: white;
}

.franchise-463473, .series-2215447 { /* Beef House */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #002e2b;
    color: #e6c130;
    border-color: #e6c130;
}

.franchise-464252, .series-2224853 { /* No Data Available (Adult Swim April Fool's Day 2020) */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: white;
    color: black;
    border-color: black;
}

.franchise-464352, .series-2224723 { /* YOLO: Crystal Fantasy */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #fbc578;
    color: #c843e2;
    border-color: #c843e2;
}

.franchise-464353, .series-2213494 { /* JJ Villard's Fairy Tales */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #7c1507;
    color: #fff835;
    border-color: #fff835;
}

.franchise-464354, .series-2224721 { /* Smiling Friends */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #1c1c26;
    color: white; /* Fallback color from https://media.cdn.adultswim.com/uploads/20200403/20431240142-SmilingFriends_Hero_000000.png. Actual colors used by @CNschedules has to be done on JavaScript side :P */
    border-image-source: linear-gradient(to right, #fbff73, #efa4ee, #ee5766, #85fd8c, #ace6fa);
    border-image-slice: 1;
}

.franchise-470032, .series-2199328 { /* Elliott from Earth */
    font-family: "Avenir Std", sans-serif;
    background-color: #b13625;
    color: #12d043;
    border-color: #12d043;
}

.franchise-470812, .series-2262180 { /* Birdgirl */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #d54039;
    color: #f6c800;
    border-color: #f6c800;
}

.franchise-471013, .series-2266417 { /* CN April Fool's Day 2021: Cat-Toon Network */
    font-family: "Avenir Std", sans-serif;
    background-color: white;
    color: black;
    border-color: black;
}

.franchise-471232, .series-2191380 { /* The Fungies! */
    font-family: "Avenir Std", sans-serif;
    background-color: #50202f;
    color: #f68d95;
    border-color: #f68d95;
}

.franchise-471233, .series-2191382 { /* Tig n' Seek */
    font-family: "Avenir Std", sans-serif;
    background-color: #78ccff;
    color: #dd3027;
    border-color: #dd3027;
}

.franchise-472152, .series-2266164 { /* Tuca & Bertie */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ff8fcf;
    color: #55ffa8;
    border-color: #55ffa8;
}

.franchise-472532, .series-2223270 { /* Looney Tunes Cartoons */
    font-family: "Avenir Std", sans-serif;
    background-color: #c9090c;
    color: #fdee13;
    border-color: #fdee13;
}

.franchise-473073, .series-2227883 { /* Jellystone */
    font-family: "Avenir Std", sans-serif;
    background-color: #0e7a74;
    color: #f6ee5c;
    border-color: #f6ee5c;
}

.franchise-473692, .series-2266513 { /* Lucas the Spider */
    font-family: linotteregular, sans-serif;
    background-color: #53738b;
    color: #cea777;
    border-color: #cea777;
}

.franchise-473693, .series-753448 { /* Caillou */
    font-family: linotteregular, sans-serif;
    background-color: white;
    color: #c00002;
    border-color: #c00002;
}

.franchise-473694, .series-686417 { /* Pocoyo */
    font-family: linotteregular, sans-serif;
    background-color: #3795ce;
    color: #f1d0a8;
    border-color: #f1d0a8;
}

.franchise-473932, .series-2292228 { /* Teenage Euthanasia */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ffa4f8;
    color: #8418f9;
    border-color: #8418f9;
}

.franchise-474132, .series-2274096 { /* Thomas & Friends: All Engines Go */
    font-family: linotteregular, sans-serif;
    background-color: #72ddf6;
    color: red;
    border-color: red;
}

.franchise-474133, .series-2309749 { /* Bing */
    font-family: linotteregular, sans-serif;
    background-color: #d5875a;
    color: black;
    border-color: black;
}

.franchise-474134, .series-2179056 { /* Mush Mush and the Mushables */
    font-family: linotteregular, sans-serif;
    background-color: #9b6e6d;
    color: #e2d078;
    border-color: #e2d078;
}

.franchise-474172, .series-2242967 { /* Love Monster */
    font-family: linotteregular, sans-serif;
    background-color: #cd254f;
    color: white;
    border-color: white;
}

.franchise-474173, .series-2215265 { /* Esme & Roy */
    font-family: linotteregular, sans-serif;
    background-color: #e94a20;
    color: #fbd891;
    border-color: #fbd891;
}

.franchise-475333, .series-2319369 { /* Harry Potter: Hogwarts Tournament of Houses */
    font-family: "Avenir Std", sans-serif; /* FIXME */
    background-color: #30503e;
    color: #ffe698;
    border-color: #ffe698;
}

.franchise-475952, .series-2239398 { /* We Baby Bears */
    font-family: "Avenir Std", sans-serif;
    background-color: #da5c45;
    color: #eeeddd;
    border-color: #eeeddd;
}

.franchise-476613, .series-2219075 { /* The Not-Too-Late Show With Elmo */
    font-family: linotteregular, sans-serif;
    background-color: #0a1a8e;
    color: white;
    border-color: white;
}

.franchise-477192, .series-2357112 { /* CoComelon */
    font-family: linotteregular, sans-serif;
    background-color: #ff8a88;
    color: black;
    border-color: black;
}

.franchise-478872, .series-2227953 { /* Sesame Street Mecha Builders */
    font-family: linotteregular, sans-serif;
    background-color: #054f46;
    color: #fae656;
    border-color: #fae656;
}

.franchise-479552, .series-2357711 { /* Blippi Wonders */ 
    font-family: linotteregular, sans-serif;
    background-color: white;
    color: #5284d6;
    border-color: #5284d6;
}

.franchise-479553, .series-2356389 { /* Lellobee City Farm */
    font-family: linotteregular, sans-serif;
    background-color: white;
    color: #bf7a46;
    border-color: #bf7a46;
}

.franchise-479992, .series-2267156 { /* Bugs Bunny Builders */
    font-family: linotteregular, sans-serif;
    background-color: white;
    color: #00c9fa;
    border-color: #00c9fa;
}

.franchise-480912, .series-2106724 { /* Lamput */
    font-family: "Avenir Std", sans-serif;
    background-color: #ff8600;
    color: white;
    border-color: white;
}

.franchise-480972, .series-2064567 { /* The Powerpuff Girls */
    font-family: "Avenir Std", sans-serif;
    background-color: #f97eb5;
    color: black;
    border-color: black;
}

.franchise-481332, .series-2267111 { /* Batwheels */
    font-family: linotteregular, sans-serif;
    background-color: #262626;
    color: #ffc000;
    border-color: #ffc000;
}